@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion) {
    html {
      scroll-behavior: auto;
    }
  }
  input[type='number'].appearance-none::-webkit-inner-spin-button,
  input[type='number'].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'].appearance-none {
    -moz-appearance: textfield;
  }
}

@font-face {
  font-family: 'klavika-medium';
  src: url('../public/assets/fonts/klavika-medium.woff2'),
    url('../public/assets/fonts/klavika-medium.woff');
}

@font-face {
  font-family: 'NotoSans-medium';
  src: url('../public/assets/fonts/NotoSans-Medium.ttf');
}

@layer utilities {
  .select-triangle {
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}
